:root {
    --primary-color       : #ffff;
    --white-color         : #fff;
    --black-color         : #000;
    --text-color          : #555555;
    --border-color        : #dbdbdb;
    --header-navbar       : 34px;
    --header-height       : 120px;
    --header-search-height: calc(var(--header-height) - var(--header-navbar));
}

* {
    box-sizing: border-box;
}

html {
    font-size  : 62.2%;
    line-height: 1.6rem;
    font-family: 'roboto', sans-serif;
    box-sizing : border-box;
}

section {
    /* width    : 1200px; */
    max-width: 100%;
    margin   : 0 auto;
    padding  : 0 3%;
}

.title {
    margin-top : 50px;
    font-size  : 26px;
    font-weight: 700;
    color      : 222222;
}

.desc {
    margin-top   : 24px;
    margin-bottom: 24px;
    font-size    : 14px;
    font-weight  : 300;
    color        : var(--text-color);
}

.slick-track {
    width: 29024px !important;
}

.slick-next {
    margin-right: 54px !important;
}

.slick-next:before {
    font-size  : 60px !important;
    color      : #ffff !important;
    line-height: 0 !important;
    display    : flex !important;
    top        : 50% !important;
    transform  : translate(-0, -50%) !important;
    left       : 50% !important;
}

.slick-prev {
    margin-left: 12px !important;
    z-index    : 2 !important;
}

.slick-prev:before {
    font-size  : 60px !important;
    color      : #ffff !important;
    line-height: 0 !important;
    display    : flex !important;
    top        : 50% !important;
    transform  : translate(-0, -50%) !important;
    left       : 50% !important;
}

.nav {
    width          : 100%;
    height         : 80px;
    background     : var(--primary-color);
    display        : flex;
    justify-content: space-between;
    border-bottom  : 1px solid #f2f2f2;
    position       : fixed;
    z-index        : 1;
    top            : 0;
    align-items    : center;
    font-size      : 14px;
}

.nav .nav-left {
    display: flex;
}

.nav .nav-left a {
    display      : flex;
    padding      : 10px;
    background   : rgba(0, 0, 0, .04);
    border-radius: 50%;
    align-items  : center;
    cursor       : pointer;
}

.nav .search-box {
    display      : flex;
    margin-left  : 3rem;
    align-items  : center;
    box-shadow   : 1px 1px 4px rgb(0 0 0 / 20%);
    border-radius: 5px;
    width        : 600px;
    height       : 48px;
    align-items  : center;
    margin       : auto 0 auto 26px;
    cursor       : pointer;
}

.nav .search-box .search {
    display : flex;
    position: relative;
    padding : 17px 16px;
    width   : 300px;
}

.nav .search-box .search::before {
    content   : "";
    position  : absolute;
    width     : 1px;
    height    : 86%;
    top       : 50%;
    background: #e7e7e7;
    transform : translateY(-50%);
    z-index   : 2;
    right     : 0;
}

.nav .search-box .search .search-input {
    position: relative;
    border  : none;
    width   : 100%;
    outline : none;
}

.nav .search-input-icon {
    position: absolute;
    margin  : auto;
}

.nav .search-input-icon i {
    padding     : 0 0.2rem;
    font-size   : 15px;
    margin-right: 10px;
    color       : #6666;
}

.nav .search-input-icon span {
    font-size: 1rem;
    font-size: 14px;
}

.nav .search-box .dates {
    padding : 17px 28px;
    position: relative;
}

.nav .search-box .dates::before {
    content   : "";
    position  : absolute;
    width     : 1px;
    height    : 66%;
    top       : 50%;
    background: #e7e7e7;
    transform : translateY(-50%);
    z-index   : 2;
    right     : 0;
}

.nav .search-box .dates i {
    font-size   : 14px;
    color       : #6666;
    margin-right: 10px;
}

.nav .search-box .dates span {
    font-size: 14px;
}

.nav .search-box .guests {
    padding: 2rem;
}

.nav .search-box .guests i {
    font-size   : 14px;
    color       : #6666;
    margin-right: 8px;
}

.nav .search-box .guests span {
    font-size: 14px;
}

.nav .search-box .search-icon {
    right        : 0;
    margin       : auto;
    padding      : 10px 22px;
    background   : #555555;
    border-radius: 5px;
}

.nav .search-box .search-icon i {
    color    : #fff;
    font-size: 16px;
}

.nav .nav-right {
    display    : flex;
    font-weight: 500;
}

.nav-select a {
    padding: 0 1.2rem;
    cursor : pointer;
}

.nav .flag-monney {
    display      : flex;
    padding      : 0 0.4rem 0 0.6rem;
    background   : #F6F6F6;
    border-radius: 16px;
    height       : 32px;
    margin       : auto;
    cursor       : pointer;
    position     : relative;
    align-items  : center;
}

.nav .flag-monney:hover .model-flag-monney {
    display  : flex;
    animation: mymove 0.3s;
}

@keyframes mymove {
    0% {
        top    : -110px;
        opacity: 0;
    }

    100% {
        top    : -119px;
        opacity: 1;
    }
}

.nav .flag-monney svg {
    width : 24px;
    height: auto;
}

.nav .flag-monney .monney {
    padding    : 0 0 0 .8rem;
    font-weight: 400;
    align-items: center;
    margin     : auto;

}

.nav .flag-monney i {
    padding    : 0 0 0 .6rem;
    align-items: center;
    margin     : auto;

}

.model-flag-monney {
    position     : absolute;
    display      : none;
    margin-top   : 163px;
    min-width    : 400px;
    right        : 0;
    border       : 1px solid #D6D6D6;
    background   : #ffff;
    border-radius: 4px;
}

.model-flag-monney::before {
    background            : #fff;
    position              : absolute;
    content               : "";
    top                   : -0.8rem;
    right                 : 2rem;
    transform             : rotate(45deg);
    height                : 1.6rem;
    width                 : 1.6rem;
    border-top-left-radius: 3px;
    box-shadow            : 0 0 0 1px rgb(6 44 82 / 10%), 0 2px 16px rgb(33 43 54 / 8%);
    z-index               : -1;
}


.model-flag {
    flex: 1;

}

.model-flag-item {
    padding     : 18px;
    display     : flex;
    font-weight : 400;
    border-right: 1px solid #D6D6D6;
}

.model-flag-item svg {
    width: 16px !important;
}

.model-flag-item span {
    margin-left: 10px;
}

.model-monney {
    flex: 1;
}

.model-monney-item {
    padding: 18px;
    display: flex;
}

.model-monney-item .monney-icon {}

.model-monney-item .monney-desc {
    margin-left: 10px;
    font-weight: 400;
    margin     : auto;
}



/* slider start */
.slider {
    margin-top: 120px;
}

.slideshow-container {
    position: relative;
}

.mySlides {
    display: none;
}

.slider-img {
    border-radius: 20px;
}

.prev,
.next {
    cursor       : pointer;
    position     : absolute;
    top          : 50%;
    width        : auto;
    margin-top   : -22px;
    padding      : 16px;
    color        : white;
    font-weight  : bold;
    font-size    : 18px;
    transition   : 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select  : none;
}

.next {
    right        : 0;
    border-radius: 3px 0 0 3px;
}

.numbertext {
    display  : none;
    color    : #f2f2f2;
    font-size: 12px;
    padding  : 8px 12px;
    position : absolute;
    top      : 0;
}

.slider-dot {
    position   : absolute;
    top        : 86%;
    width      : auto;
    margin-top : -22px;
    padding    : 16px;
    color      : white;
    font-weight: bold;
    right      : 34px;
}

.dot {
    cursor          : pointer;
    height          : 8px;
    width           : 8px;
    margin          : 0 2px;
    background-color: #bbb;
    border-radius   : 50%;
    display         : inline-block;
    transition      : background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name    : fade;
    -webkit-animation-duration: 1.5s;
    animation-name            : fade;
    animation-duration        : 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.silder-title {
    margin-top : 36px;
    font-size  : 26px;
    font-weight: 700;
    color      : 222222;
}

.silder-desc {
    margin-top : 22px;
    font-size  : 14px;
    font-weight: 300;
}

/* slider and */

/* Top Destinations start */

.content-slider {}

.content-slider-item {
    width   : 240px !important;
    height  : 279px;
    display : flex;
    padding : 0 4px;
    position: relative;
}

.content-slider-img {
    width        : 223px;
    height       : 279px;
    position     : relative;
    border-radius: 6px;
}

.destination-title {
    position   : absolute;
    bottom     : 0;
    line-height: 32px;
}

.destination-name {
    font-weight: 500;
    color      : #ffff;
    font-size  : 20px;
}

.destination-desc {
    font-weight: 500;
    color      : #ffff;
}

/* Promotions start */

.promotion-item {
    width   : 398px !important;
    height  : 167px;
    padding : 0 4px;
    display : flex;
    position: relative;

}

.promotion-img {
    width        : 381px;
    height       : 167px;
    border-radius: 5px;
    position     : relative;

}

/* Promotions end */

/* HCMC start */
.HCMC-cover {
    width     : 290px !important;
    height    : 167px;
    height    : auto;
    padding   : 0 4px;
    margin-top: 40px;
    display   : flex;

}

.HCMC-img {
    width : 284px !important;
    height: 177px !important;
}

.HCMC-title {
    font-size     : 15px;
    font-weight   : 400;
    color         : var(--text-color);
    text-transform: uppercase;
    padding       : 10px 0;

}

.HCMC-desc {
    font-size         : 14px;
    font-weight       : 300;
    color             : var(--text-color);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    display           : -webkit-box;
}

/* HCMC end */

/* payment start */
.payment-item {
    width  : 390px !important;
    height : 212px;
    height : auto;
    padding: 0 4px;
    display: flex;
}

.payment-img {
    width : 382px !important;
    height: 212px !important;
}

/* payment end */

/* store start */
.store {
    display   : flex;
    margin-top: 80px;
}

.store-left {
    flex: 1;
}

.store-left svg {
    width: 342px;
}

.store-title {
    font-size  : 26px;
    font-weight: 600;
    padding    : 20px 0;
}

.store-desc {
    font-size   : 14px;
    font-weight : 300;
    margin-right: 200px;
}

.store-left-img {
    display        : flex;
    margin-top     : 20px;
    justify-content: space-between;
}

.img-1 {
    width: 208px;

}

.img-2 {
    margin-right: 10px;
    width       : 300px;

}

.store-right {
    flex: 1;
}

.store-right img {
    width : 579px;
    height: 535px;
}

/* foodter */
.fooder {
    display: flex;
}

.lux-stay {
    flex: 1;
}

.destination {
    flex: 1;
}

.footer-title {
    font-size  : 16px;
    font-weight: 500px;
    background : crimson;
}

.footer-title ul {
    display: block;
}

/* foodter */